.site-header{
    background-color: white;
}

.site-header-top{
    background-color: var(--primary-color);
    height: auto;
    color: var(--quaternary-color);
}

button{
    color: white;
}

.navbar-toggler {
    background-color: var(--secondary-color); 
    border: 1px solid var(--secondary-color); 
}

.nav-image{
    width: 14vh;
    height: 11vh;
}

.language-icon{
    font-size: 22px;
}

.btn-secondary{
    background-color: transparent !important;
    border-color: transparent !important;
}
 
@media (max-width: 992px) {
    .navbar{
        background-color: var(--primary-color) !important;
    }

    .secondary-header{
        background-color : var(--secondary-color) !important;
        color : var(--primary-color) !important;
    }
    
    .nav-image{
        width: 8vh;
        height: 6vh;
    }
  }