footer {
    background-color: var(--primary-color);
    color: white;
    line-height: 1.5;
  }
  
  
  .site-footer {
    background-color: var(--primary-color);
    height: auto;
  }
  
  .container {
    padding: 15px 0px;
  }
  
  .footer-icon{
    color: white;
    margin-right: 8px;
    font-size: 28px;
  }
  
  
  @media (max-width: 587px) {
    .container {
      padding: 5%;
    }
    
    
  
  }

  @media (min-width: 768px) {
    .offset-md-1 {
    margin-left: 0 !important;
    }
}