
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="col-md-12 text-dark">
                    <h1 class="text-dark" style="font-size: 45px; text-transform: uppercase;"><strong>Nuestro Equipo</strong></h1>
                </div>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-lg-4" *ngFor="let fd of foodData.slice(0, 3);">

                                    <div class="card profile-card-1">
                                        <img
                                          src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb"
                                          alt="profile-sample1"
                                          class="background"
                                        />
                                        <img
                                          src="{{ fd.foodImg }}"
                                          alt="profile-image"
                                          class="profile"
                                        />
                                        <div class="card-content">
                                          <h2>{{ fd.foodName }}<small>Ingeniero</small></h2>
                                          <div class="icon-block">
                                            <a href="#"><i class="bi bi-facebook"></i></a
                                            ><a href="#"> <i class="bi bi-instagram"></i></a
                                            ><a href="#"> <i class="bi bi-linkedin"></i></a>
                                          </div>
                                        </div>
                                    </div>
                        
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-lg-4" *ngFor="let fd of foodData.slice(3, 6);">

                                   <div class="card profile-card-1">
                                        <img
                                          src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb"
                                          alt="profile-sample1"
                                          class="background"
                                        />
                                        <img
                                          src="{{ fd.foodImg }}"
                                          alt="profile-image"
                                          class="profile"
                                        />
                                        <div class="card-content">
                                          <h2>{{ fd.foodName }}<small>Ingeniero</small></h2>
                                          <div class="icon-block">
                                            <a href="#"><i class="bi bi-facebook"></i></a
                                            ><a href="#"> <i class="bi bi-instagram"></i></a
                                            ><a href="#"> <i class="bi bi-linkedin"></i></a>
                                          </div>
                                        </div>
                                    </div>
                        
                                </div>

                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
