<div class="container" id="ourTeam">
  <div class="d-flex align-items-center justify-content-center flex-column h-100">
    <div class="col-md-12 d-flex justify-content-center">
      <div class="button_one">Nuestros Equipo <i class="bi bi-gear-wide-connected"></i></div>
      
    </div>
  
    
    <div class="col-12">
    
      <div class="row">
    
        <div class="col-lg-4" *ngFor="let fd of teamData.slice(3, 6);">
    
          <div class="card profile-card-1">
            <img
              src="assets/img/bg.png"
              alt="profile-sample1" class="background" />
            <img src="{{ fd.foodImg }}" alt="profile-image" class="profile" />
            <div class="card-content">
              <h2>{{ fd.foodName }}<small>Ingeniero</small></h2>
              <div class="icon-block">
                <a href="#"><i class="bi bi-facebook"></i></a><a href="#"> <i class="bi bi-instagram"></i></a><a href="#">
                  <i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
    
        </div>
    
      </div>
    </div>
  </div>
</div>

