<div class="container" id="ourTeam">
  <div class="col-md-12 text-center text-dark">
    <h1 class="latest-projects__header text-dark" style="font-size: 55px; text-transform: uppercase">
      Contamos con:
    </h1>
    <div class="row mt-5 text-center">
      Ingenieros mecatrónicos, mecánicos, eléctricos con experiencia en el
      montaje, instalación y mantenimiento de maquinarias del sector de plásticos,
      ingenieros, los cuales trabajan por los más de 8 países.
    </div>
  </div>

  <div class="col-12">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row mt-3">

            <div class="col-lg-4 mt-5" *ngFor="let fd of teamData.slice(0, 3);">

              <div class="card profile-card-1">
                <img
                  src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb"
                  alt="profile-sample1" class="background" />
                <img src="{{ fd.foodImg }}" alt="profile-image" class="profile" />
                <div class="card-content">
                  <h2>{{ fd.foodName }}<small>Ingeniero</small></h2>
                  <div class="icon-block">
                    <a href="#"><i class="bi bi-facebook"></i></a><a href="#"> <i class="bi bi-instagram"></i></a><a
                      href="#"> <i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <div class="carousel-item">
          <div class="row">

            <div class="col-lg-4" *ngFor="let fd of teamData.slice(3, 6);">

              <div class="card profile-card-1">
                <img
                  src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb"
                  alt="profile-sample1" class="background" />
                <img src="{{ fd.foodImg }}" alt="profile-image" class="profile" />
                <div class="card-content">
                  <h2>{{ fd.foodName }}<small>Ingeniero</small></h2>
                  <div class="icon-block">
                    <a href="#"><i class="bi bi-facebook"></i></a><a href="#"> <i class="bi bi-instagram"></i></a><a
                      href="#"> <i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>