<div class="container" id="quienesSomos">
  <div class="text-center text-dark">
    <h1
      class="latest-projects__header fw-bold"
      style="
        font-size: 50px;
        text-transform: uppercase;
        color: black !important;
      "
    >
      ¿Quienes somos?
    </h1>
  </div>
  <div class="row d-flex align-items-center h-100">
    <div class="col-md-7 ">
      <div class="card-block px-5">
        <span class="fs-2 fw-bold" style="color: black">
            <strong
              >ENGSOLUTIONS S.A.S. es una empresa con amplia experiencia en la
              industria plásticos
            </strong>
            <br />
          </span>
          <p style="font-size: 18px; margin-top: 10px">
            Tenemos experiencia en proyectos de automatización relacionados con el
            proceso de fabricación de envases para empaque de alimentos. Actualmente
            atendemos la industria de extrusión y termoformado en más de 8 países de
            América, tales como Canadá, Estados Unidos, México, Colombia y Uruguay.
          </p>
      </div>
    </div>
    <!-- Carousel start -->
    <div class="col-md-5 px-3">
      <img src="assets/img/who.png" class="d-block w-100" alt="..." />
    </div>
    <!-- End of carousel -->
  </div>
</div>

