.big-container {
    height: 100vh;
    max-width: 100%;
    background: #ffffff;
    margin: 0 !important;
}

.container {
    height: 100%;
}

.latest-projects_header {
    font-size: 50px;
    text-transform: uppercase;
    color: black !important;
}

.button_one {
    border-style: solid;
    color: #ffffff;
    border-width: 25px;
    border-color: var(--primary-color);
    border-radius: 0px;
    letter-spacing: 3px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase !important;
    background-color: var(--primary-color);
    text-decoration: none;
    width: fit-content;
}


.main-image{
    box-shadow: 145px 0px 0px 65px var(--tertiary-color);
    color: #ffffff;
    border-color: var(--primary-color);
    border-radius: 0px;
    text-transform: uppercase !important;
}

.row {
    --bs-gutter-x: 0rem !important;
}

.info-about{
    padding-right: 80px;
}

*, ::after, ::before {
    box-sizing: unset;
}

@media (max-width: 600px) {
 
    .big-container {
        padding-left: 20px;
        padding-right: 20px;
    }

}


@media (max-width: 767px) {
    
    .big-container {
        height: fit-content;
    }
    .main-image{
        margin-bottom: 100px;
    
    }

    
.info-about{
    padding-right: 10px;
}
        
}

@media (max-width: 1200px) {
    
.main-image{
    box-shadow: 0px 0px 0px 0px var(--tertiary-color);

}

*, ::after, ::before {
    box-sizing: border-box;
}

    
}