<div class="big-container" id="quienesSomos">
  <div class="container d-flex align-items-center h-100 flex-column justify-content-center">
    <div class="text-center text-dark">
      
    </div>
    <div class="row mt-5">
      <div class="col-md-7 ">
        <div class="card-block h-100 ">
          <div class=" d-flex justify-content-center flex-column h-100 info-about">
            <div class="button_one">Acerca de nosotros <i class="bi bi-exclamation-circle"></i> </div>
            <div class="mt-5">
              <span class="fs-2 fw-bold" style="color: var(--primary-color)">
                <strong>ENGSOLUTIONS S.A.S. es una empresa con amplia experiencia en la
                  industria plásticos
                </strong>
                <br />
              </span>
              <p style="font-size: 18px; margin-top: 10px; font-weight: 500;">
                Tenemos experiencia en proyectos de automatización relacionados con el
                proceso de fabricación de envases para empaque de alimentos. Actualmente
                atendemos la industria de extrusión y termoformado en más de 8 países de
                América, tales como Canadá, Estados Unidos, México, Colombia y Uruguay.
              </p>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-5 main-image">
        <img src="assets/img/12.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
  </div>
</div>