<div class="container ">
    <div class="row align-middle">
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-1">
          <div class="txt">
            <h1>
              MONTAJES E <br />
                INSTALACIONES
            </h1>
            <p>Visual communication and problem-solving</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">
            <i class="fa fa-rebel"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-2">
          <div class="txt">
            <h1>
             AUTOMATIZACION <br />
              DE PROCESOS
            </h1>
            <p>How design is implemented on the web.</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">
            <i class="fa fa-codepen"></i>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 column">
        <div class="card gr-3">
          <div class="txt">
            <h1>MANTENIMIENTO <br />PREVENTIVO</h1>
            <p>User Interface and User Experience Design.</p>
          </div>
          <a href="#">more</a>
          <div class="ico-card">
            <i class="fa fa-empire"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
