<div class="container container-padre mt-5 mb-5" id="nuestrosServicios">
  <div class="col-md-12 d-flex w-100 justify-content-center">
    <div class="button_one">Nuestros servicios <i class="bi bi-gear-wide-connected"></i></div>
  </div>
  <div class="mt-5">
    <div class="container ">
      <div class="row align-middle">
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-1">
            <div class="main-image">
              <img src="assets/img/3.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="txt">
              <h1>
                MONTAJES <br />
                INDUSTRIALES
              </h1>
              <p>Contamos con la experiencia y confianza

                para llevar a cabo todo tipo de montajes en su

                planta, desde encartonadoras, pasando por

                enmangadoras, termoformadores,

                extrusoras, impresoras o todo tipo de equipos

                relacionados a la industria del plástico.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-2">
            <div class="main-image">
              <img src="assets/img/4.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="txt">
              <h1>
                MANTENIMIENTO<br> INDUSTRIAL
              </h1>
              <p>Diseñamos y ejecutamos programas de

                mantenimiento, donde prime la calidad del

                servicio y una importante optimización de

                proceso, con el objetivo de tener los equipos el

                menor tiempo posible detenidos, ofrecemos servicios de calidad.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 column">
          <div class="card gr-3">
            <div class="main-image">
              <img src="assets/img/5.jpg" class="d-block w-100" alt="..." />
            </div>
            <div class="txt">
              <h1>ASESORIA EN <br>PROYECTOS</h1>
              <p>Contamos con la experiencia y confianza

                para llevar a cabo todo tipo de montajes en su

                planta, desde encartonadoras, pasando por

                enmangadoras, termoformadores,

                extrusoras, impresoras o todo tipo de equipos

                relacionados a la industria del plástico.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>