<div class="banner" id="banner">
  <div style="
        background: rgba(7, 7, 7, 0.822);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        width: 100%;
        height: 100%;
      ">
    <div class="content">
      <div class="banner-subtitle">
        Servicios de mantenimiento <br> y reparación
      </div>
      <div class="banner-title">

        ENGSOLUTIONS S.A.S.
      </div>
      <div (click)="goToWhoAreWe()" class="button_one mt-5 mx-3"> Acerca de nosotros<i class="bi bi-arrow-right fw-bold"></i> </div>
      <div (click)="goToServices()" class="button_two mt-4 mx-3">Nuestros Servicios <i class="bi bi-arrow-right fw-bold"></i> </div>
    </div>
  </div>
</div>