<div class="banner" id="banner">
  <div style="
        background: rgba(7, 7, 7, 0.822);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        width: 100%;
        height: 100%;
      ">
    <div class="content">
      <div class="banner-title">
        {{homeTitle}}
      </div>
      <div class="banner-subtitle">
        {{subTitle}}
      </div>
      <div class="main-description">
        Tenemos experiencia en proyectos de automatización relacionados con el proceso de fabricación de envases para
        empaque de alimentos. Actualmente atendemos la industria de extrusión y termoformado en más de 8 países de
        América, tales como Canadá, Estados Unidos, México, Colombia y Uruguay.
      </div>
      <!--div (click)="goToWhoAreWe()" class="button_one mt-5 mx-3"> Acerca de nosotros<i class="bi bi-arrow-right fw-bold"></i> </div-->
      <div (click)="goToServices()" class="button_one mt-5 mx-3">Nuestros Servicios <i
          class="bi bi-arrow-right fw-bold"></i> </div>
    </div>
  </div>
</div>