<div class="banner" id="banner">
    <div
      style="
        background: rgba(7, 7, 7, 0.5);
        backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px);
        width: 100%;
        height: 100%;
      "
    >
      <div class="content">
        <h1 class="mb-5">
          ENGSOLUTIONS S.A.S. <br />
          Servicios de mantenimiento y reparación
        </h1>
        <a (click)="goToWhoAreWe()" class="fw-bold">Saber más... <i class="bi bi-arrow-right fw-bold"></i></a>
      </div>
    </div>
  </div>